<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="imgholder">
            <img src="./images/GsbLogoSmall.png" height="55" alt="" />
        </div>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=".\" Match="NavLinkMatch.All">
                <i class="fa-solid fa-book" style="padding-left: 1em;" aria-hidden="true"></i>&nbsp; Logs
            </NavLink>
            <NavLink class="nav-link" href="./applications" Match="NavLinkMatch.All">
                <i class="fa-solid fa-list" style="padding-left: 1em;" aria-hidden="true"></i>&nbsp; Applications
            </NavLink>
        </div>
    </nav>
</div>

